@import url(https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap);
@import url(https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css);

:root {
  --gray-text: #6a6262; 
}

body {
  margin: 20px 20px;
  font-family: "Lato";
}

ul li {
  list-style: none;
}

.gray-button {
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
  border: none;
  box-shadow: 1px 1px 3px black;
  font-family: "Lato";
}

.gray-button:hover {
  cursor: pointer;
  box-shadow: 1px 1px 5px black;
}

.center {
  text-align: center;
}

.mt-50 {
  margin-top: 50px;
}

/* header */
/* Gian's name on homepage */
.name-title {
  font-size: 24px;
  text-decoration: none;
  color: black;
  white-space: nowrap;
  margin-top: 10px;
}

.name-title.active {
  text-decoration: none;
}

.link-styles {
  white-space: nowrap;
  text-decoration: none;
  font-size: 16px;
  color: var(--gray-text);
  line-height: 65px;
}

a {
  text-decoration: none;
  color: var(--gray-text);
  font-size: 16px;
}

a.active {
  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  padding-bottom: 3px;
}

a:hover {
  font-weight: bolder;
  color: black;
}

/* hamburger */
.hamburger-container {
  text-align: center;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  align-items: center;
}

.hamburgerlink-container {
  text-align: center;
}

/* hamburger button */
.hamburger {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 25px; 
}

.hamburger .bar {
  height: 3.5px; 
  background-color: var(--gray-text);
  margin-bottom: 4px;
}

.bar.active {
  text-decoration: none;
}

/* homepage - about */
.about-headshot {
  width: 50%;
  margin-left: 0px;
  margin-right: 0px;
}

.img-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 65px;
  margin-bottom: 45px;
}

p {
  line-height: 35px;
  font-size: 16px;
}

.small-icons {
  font-size: 28px;
  margin: 0px 15px;
  color: black;
}

.small-icons:hover {
  text-shadow: 1px 0px 3px var(--gray-text);
}

.connect {
  margin-top: 25px;
  text-align: center;
  color: black;
}

@media screen and (min-width: 800px) {
  body {
    margin: 10px 50px;
  }

  .navbar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .navlinks {
    display: flex; 
    flex-direction: row;
    padding-left: 0px;
  }  

  .navlink-styles {
    margin: 0px 20px;
    white-space: nowrap;
    text-decoration: none;
    font-size: 16px;
    color: var(--gray-text);
    text-shadow:none;
  }
  
  /* hamburger links */
  .hamburger-container {
    display: none;
  }

  /* homepage */
  .about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 35px;
  }

  .about-text {
    margin: 0px 50px;
  }

  .about-headshot {
    width: 300px;
    height: 350px;
    object-fit: contain;
  }

  .img-container {
    margin-top: 0px;
    margin-bottom: 0px;
  }

}

@media screen and (min-width: 1100px) {
  .navbar-container {
    display: flex;
    flex-direction: row;
  }

  .navlinks {
    margin-top: 15px;
  }

  .about-headshot {
    width: 350px;
    height: 400px;;
    object-fit: contain;
    margin-top: 30px;
  }

  @media screen and (min-width: 1230px) {
    .body-container {
      max-width: 1155px;
      margin: auto;
    
    }
  }
}