@import url(https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap);

:root {
  --gray-text: #6a6262; 
}

body {
  margin: 20px 20px;
  font-family: "Lato";
}

ul li {
  list-style: none;
}

.center {
  text-align: center;
}

.connect {
  margin-top: 25px;
  text-align: center;
}

/* header */
/* Gian's name on homepage */
.name-title {
  font-size: 24px;
  text-decoration: none;
  color: black;
  white-space: nowrap;
  margin-top: 10px;
}

.name-title.active {
  text-decoration: none;
}

.link-styles {
  white-space: nowrap;
  text-decoration: none;
  font-size: 16px;
  color: var(--gray-text);
  line-height: 65px;
}

a.active {
  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  padding-bottom: 3px;
}

a:hover {
  font-weight: bolder;
  color: black;
}

/* hamburger */
.hamburger-container {
  text-align: center;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  align-items: center;
}

.hamburgerlink-container {
  text-align: center;
}

/* hamburger button */
.hamburger {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 25px; 
}

.hamburger .bar {
  height: 3.5px; 
  background-color: var(--gray-text);
  margin-bottom: 4px;
}

.bar.active {
  text-decoration: none;
}

/* homepage - about */
/* .about {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

img {
  width: 50%;
  margin-left: 0px;
  margin-right: 0px;
}

.img-container {
  display: flex;
  justify-content: center;
}

p {
  line-height: 35px;
}

@media screen and (min-width: 800px) {
  body {
    margin: 10px 100px;
  }

  .navbar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .navlinks {
    display: flex; 
    flex-direction: row;
  }  

  .navlink-styles {
    margin-left: 40px;
    white-space: nowrap;
    text-decoration: none;
    font-size: 16px;
    color: var(--gray-text);
  }
  
  /* hamburger links */
  .hamburger-container {
    display: none;
  }



  /* homepage */
  .about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 65px;
  }

  .about-text {
    width: 500px;
    margin-left: 50px;
  }

  img {
    width: 300px;
    height: 350px;
    object-fit: contain;
  }

  .img-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

}

@media screen and (min-width: 1100px) {
  .navbar-container {
    display: flex;
    flex-direction: row;
  }

  .navlinks {
    margin-top: 15px;
  }

  img {
    width: 350px;
    height: 400px;;
    object-fit: contain;
    margin-top: 0px;
  }
}