@import url(https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap);

:root {
  --gray-text: #6a6262; 
}

body {
  margin: 20px 20px;
  font-family: "Lato";
}

ul li {
  list-style: none;
}

/* header */
/* Gian's name on homepage */
.name-title {
  font-size: 24px;
  text-decoration: none;
  color: black;
}

.name-title.active {
  text-decoration: none;
}

.navlink-styles {
  margin-right: 30px;
  white-space: nowrap;
  text-decoration: none;
  font-size: 16px;
  color: var(--gray-text);
}

.link-styles {
  white-space: nowrap;
  text-decoration: none;
  font-size: 16px;
  color: var(--gray-text);
  line-height: 65px;
}

a.active {
  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  padding-bottom: 3px;
}

a:hover {
  font-weight: bolder;
  color: black;
}

/* hamburger */
.hamburger-container {
  text-align: center;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  align-items: center;
}

.hamburgerlink-container {
  text-align: center;
}

/* hamburger button */
.hamburger {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 25px; 
}

.hamburger .bar {
  height: 3.5px; 
  background-color: var(--gray-text);
  margin-bottom: 4px;
}

.bar.active {
  text-decoration: none;
}

@media screen and (min-width: 800px) {
  body {
    margin: 10px 100px;
  }

  .navbar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navlinks {
    display: flex; 
    flex-direction: row;
    justify-content: center;
  }  
  
  /* hamburger links */
  .hamburger-container {
    display: none;
  }

  @media screen and (min-width: 1100px) {
    .navbar-container {
      display: flex;
      flex-direction: row;
    }
  
    .navlinks {
      margin-top: 20px;
    }
  }

}