/* large screens */

/* SCREEN SIZE: 800px and larger */
@media screen and (min-width: 800px) {
    .body-container {
      margin: 10px 50px;
    }
  
    .navbar-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
    }
  
    .navlinks {
      display: flex; 
      flex-direction: row;
      padding-left: 0px;
    }  
  
    .navlink-styles {
      margin: 0px 20px;
      white-space: nowrap;
      text-decoration: none;
      font-size: 17px;
      color: var(--special-text);
      text-shadow:none;
    }
    
    .navlink-styles.active {
        border-bottom-color: black;
        border-bottom-style: solid;
        border-bottom-width: 3px;
        padding-bottom: 3px;
      }
      
      .navlink-styles:hover {
        font-weight: bolder;
        color: black;
      }

    /* hamburger links HIDE */
    .hamburger-container {
      display: none;
    }
  
    /* homepage */
    .about {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 35px;
    }
  
    .about-text {
      margin: 0px 50px;
    }
  
    .about-headshot {
      width: 300px;
      height: 350px;
      object-fit: contain;
    }
  
    .img-container {
      margin-top: 0px;
      margin-bottom: 0px;
    }
    .carousel-container {
        margin-top: 30px;
        width: 800px;
    }
    .slide-size {
        width: 100%;
    }
  }
  
/* SCREEN SIZE - DESKTOP: 1100 and larger */
@media screen and (min-width: 1100px) {
    .navbar-container {
        display: flex;
        flex-direction: row;
    }
    
    .navlinks {
        margin-top: 15px;
    }
    
    .about-headshot {
        width: 350px;
        height: 400px;;
        object-fit: contain;
        margin-top: 10px;
    }
 
}
    
/* SCREEN SIZE - DESKTOP: 1230 and larger */
@media screen and (min-width: 1230px) {
    .body-container {
        max-width: 1155px;
        margin: auto;
    }
    .navbar-container {
        margin-top: 10px;
    }
}